.summaryContainer {
    background-color: #dbc1bc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

span {
    background-color: #f9dfe6
}

.resultContainer {
    background-color: #f9dfe6;
    display: flex;
    justify-content: space-around;
    
}

.scoreContainer {
    background-color: #f9e9bc;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    font-weight: bold;
}